
# Firebase Cloud Functions — ignore all files except index.js (Tuya credentials in other files)
tuya-functions/*
!tuya-functions/index.js
firebase-debug.log

# Catch all firebase debug logs
firebase-debug*.log
design-reference/
